* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
a {
	text-decoration: none;
}
div {
	display: flex;
	justify-content: center;
	align-items: center;
}
/*****************************************************/
#navbar {
	height: 50px;
	background: #d3e4f2;
	background: #d6e8b0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.6rem;
}
#anchors {
	display: flex;
	gap: 40px;
}
#darkMode {
	background-color: yellow;
	height: 30px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#darkMode:hover {
	background-color: aqua;
	cursor: pointer;
}
/*****************************************************/
.homePage,
.playPage {
	/* background: linear-gradient(to bottom, #ecf0f1, #bdc3c7); */
	background-color: black;
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
}
/*****************************************************/
.homePage {
	gap: calc((100vh - 50px) * 0.04);
}
#homeText {
	background-color: bisque;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px;
}
#title {
	font-weight: bolder;
	font-size: 1.8rem;
	margin: 25px 20px;
}
#ins {
	background-color: gray;
	padding: 15px;
	margin: 0 20px 20px;
	display: flex;
	flex-direction: column;
	font-weight: 500;
}
#howToPlay {
	margin-bottom: 5px;
	font-weight: 700;
}
#homeDiv2 {
	display: flex;
	flex-direction: column;
	gap: calc((100vh - 50px) * 0.04);
	margin-bottom: calc((100vh - 50px) * 0.04);
}
#boardSize {
	background-color: antiquewhite;
	height: 100px;
	width: 170px;
	border-radius: 10px;
	font-weight: 600;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	position: relative;
	gap: 20px;
}
#leftCaret,
#rightCaret {
	aspect-ratio: 1/1;
	height: 25px;
	font-size: 30px;
	border-radius: 50%;
	position: absolute;
	left: 15px;
}
#rightCaret {
	left: calc(170px - 25px - 15px);
}
#leftCaret:hover,
#rightCaret:hover {
	background-color: pink;
	cursor: pointer;
}
#homePageButtons {
	height: 95px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
#homePageButtons > div {
	background-color: antiquewhite;
	height: 40px;
	width: 170px;
	border-radius: 10px;
	font-weight: 600;
	font-size: 1.2rem;
	cursor: pointer;
}
/*****************************************************/
#playPage {
	gap: 3.5vh;
}
#buttonsDiv {
	background-color: pink;
	font-size: 5vh;
	display: flex;
	gap: calc((65vh - 16vh) / 8);
}
#buttonsDiv > div {
	background-color: beige;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
}
#board {
	aspect-ratio: 1/1;
	height: calc((100vh - 50px) * 0.65);
	background-color: gray;
	flex-wrap: wrap;
	padding: 6px;
	border-radius: 10px;
}
.cellContainer {
	aspect-ratio: 1/1;
	background-color: rgb(198, 194, 194);
	border-radius: 4px;
	margin: 4px;
}
.cell {
	aspect-ratio: 1/1;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	border-radius: 4px;
	padding: 5px;
	margin: 4px;
	position: absolute;
}
.tile2 {
	background: radial-gradient(ellipse at center, #e8f4f4, #a2e4e4);
}
.tile4 {
	background: radial-gradient(ellipse at center, #c7c7ef, #a4a3cc);
}
.tile8 {
	background: radial-gradient(ellipse at center, #f5f1e6, #f3e2a4);
}
.tile16 {
	background: radial-gradient(ellipse at center, #96c5f7, #6bbef3);
}
.tile32 {
	background: radial-gradient(ellipse at center, #f9aaa8, #fa726e);
}
.tile64 {
	background: radial-gradient(ellipse at center, #f5c582, #fae033);
}
.tile128 {
	background: radial-gradient(ellipse at center, #f69a60, #ff722a);
}
.tile256 {
	background: radial-gradient(ellipse at center, #7897a3, #558193);
}
.tile512 {
	background: radial-gradient(ellipse at center, #f3be85, #ff7d36);
}
.tile1024 {
	background: radial-gradient(ellipse at center, #fa8b8b, #d96666);
}
.tile2048 {
	background: radial-gradient(ellipse at center, #b2f5c6, #b0e6c7);
}
.tile4096 {
	background: radial-gradient(ellipse at center, #fae589, #ffda70);
}
.tile8192 {
	background: radial-gradient(ellipse at center, #6497f0, #3c78e6);
}
.tile16384 {
	background: radial-gradient(ellipse at center, #7bce65, #4da74f);
}
.tile32768 {
	background: radial-gradient(ellipse at center, #f9ab8e, #ffab91);
}
.tile65536 {
	background: radial-gradient(ellipse at center, #97555c, #80444c);
}
.tile131072 {
	background: radial-gradient(ellipse at center, #bea2be, #af7cb5);
}
#scoreCards {
	background-color: pink;
	display: flex;
	gap: calc((65vh - 16vh) / 4);
}
#scoreCards > div {
	text-align: center;
	background-color: aqua;
	font-size: 4vh;
	font-weight: 600;
	padding: 8px 15px 10px;
	border-radius: 10px;
}
/*****************************************************/
.popUpBg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
}
.popUp {
	background-color: beige;
	height: 120px;
	width: 240px;
	border-radius: 20px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: calc((100vh - 50px - 60px) / 2);
	left: calc((100vw - 240px) / 2);
}
#popUpText {
	height: 65%;
	width: 100%;
	border-bottom: 2px solid black;
	padding: 5px;
	font-size: 0.8rem;
	text-align: center;
}
#popUpOptions {
	height: calc(100% - 65%);
	width: 100%;
}
#popUpOptions > div {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
}
#yes {
	border-right: 2px solid black;
	color: rgb(18, 208, 225);
	border-bottom-left-radius: 20px;
}
#no {
	color: red;
	border-bottom-right-radius: 20px;
}
#yes:hover,
#no:hover {
	background-color: rgb(200, 197, 197);
	cursor: pointer;
}
.hidden {
	display: none;
}
/*****************************************************/
@media (min-width: 1080px) and (max-height: 570px) {
	.homePage {
		flex-direction: row;
	}
}
@media (min-width: 680px) and (max-height: 570px) {
	#homeDiv2 {
		flex-direction: row;
	}
	#boardSize {
		margin-bottom: 0;
	}
}
@media (min-width: 680px) and (max-height: 500px) {
	#homeDiv2 {
		flex-direction: column;
	}
	.homePage {
		flex-direction: row;
	}
	#homeText {
		width: 50vw;
	}
}
@media (min-width: 680px) and (max-height: 390px) {
	#title {
		margin: 15px 20px;
		font-size: 1.2rem;
	}
}
@media (min-width: 680px) and (max-height: 300px) {
	#title {
		margin: 10px 20px;
	}
	#ins {
		margin-bottom: 10px;
	}
	#boardSize {
		height: 80px;
	}
}
@media (max-width: 680px) and (max-height: 620px) {
	#homeDiv2 {
		flex-direction: row;
	}
	#boardSize {
		margin-bottom: 0;
	}
}
@media (max-width: 680px) and (max-height: 470px) {
	#homeDiv2 {
		flex-direction: column;
	}
	#boardSize {
		margin-bottom: 20px;
	}
	.homePage {
		flex-direction: row;
		justify-content: space-evenly;
	}
	#homeText {
		width: 50vw;
	}
	#title {
		margin: 15px 20px;
		font-size: 1.2rem;
	}
	#ins {
		margin-bottom: 10px;
	}
}
@media (max-width: 680px) and (max-height: 340px) {
	#homeDiv2 {
		flex-direction: column;
	}
	#boardSize {
		margin: 20px 0;
		height: 80px;
	}
	.homePage {
		flex-direction: row;
	}
	#homeText {
		width: 50vw;
	}
	#title {
		margin: 10px 5px;
		font-size: 1.1rem;
	}
	#ins {
		margin: 0 5px 5px;
	}
}
@media (max-width: 520px) and (max-height: 290px) {
	#title {
		margin: 1px;
	}
}
@media (max-width: 468px) and (max-height: 390px) {
	#title {
		font-size: 1.1rem;
		margin: 1px;
	}
}
@media (max-width: 370px) and (max-height: 660px) {
	#title {
		font-size: 1.1rem;
		margin: 10px;
	}
}
/*****************************************************/
@media (min-width: 1200px) {
	#board {
		height: 75vh;
	}
	#playPage {
		flex-direction: row;
	}
	#buttonsDiv,
	#scoreCards {
		flex-direction: column;
	}
}
@media (max-width: 1200px) and (max-height: 1000px) {
	#playPage {
		flex-direction: row;
	}
	#buttonsDiv,
	#scoreCards {
		flex-direction: column;
	}
}
@media (max-width: 940px) and (max-height: 1000px) {
	#board {
		height: 50vh;
	}
}
@media (max-width: 940px) and (max-height: 900px) {
	#board {
		height: 60vh;
	}
}
@media (max-width: 850px) and (max-height: 1000px) {
	#board {
		height: 40vh;
	}
	#playPage {
		flex-direction: row;
	}
	#buttonsDiv,
	#scoreCards {
		flex-direction: column;
	}
}
@media (max-width: 850px) and (max-height: 820px) {
	#board {
		height: 60vh;
	}
}
@media (max-width: 768px) and (min-height: 600px) {
	#playPage {
		flex-direction: column;
	}
	#buttonsDiv,
	#scoreCards {
		flex-direction: row;
	}
}
@media (max-width: 768px) and (max-height: 600px) {
	#board {
		height: 70vh;
	}
	#playPage {
		flex-direction: row;
	}
	#buttonsDiv,
	#scoreCards {
		flex-direction: column;
	}
}
@media (max-width: 680px) {
	#board {
		height: 80vw;
	}
}
@media (max-width: 680px) and (max-height: 800px) {
	#playPage {
		gap: 2vw;
	}
}
@media (max-width: 680px) and (max-height: 700px) {
	#board {
		height: 60vh;
	}
}
@media (max-width: 680px) and (max-height: 500px) {
	#board {
		height: 70vh;
	}
}
@media (max-width: 580px) {
	#scoreCards {
		flex-direction: column;
		gap: 5vh;
	}
}
@media (max-width: 580px) and (max-height: 800px) {
	#playPage {
		gap: 3vh;
	}
	#scoreCards {
		flex-direction: row;
	}
}
@media (max-width: 580px) and (max-height: 600px) {
	#board {
		height: 60vh;
	}
	#playPage {
		flex-direction: column;
		gap: 2vh;
	}
	#buttonsDiv,
	#scoreCards {
		flex-direction: row;
	}
}
@media (max-width: 580px) and (max-height: 468px) {
	#playPage {
		flex-direction: row;
		gap: 3.5vh;
	}
	#buttonsDiv,
	#scoreCards {
		flex-direction: column;
	}
}
@media (max-width: 470px) {
	#board {
		height: 85vw;
	}
}
@media (max-width: 470px) and (max-height: 570px) {
	#board {
		height: 60vh;
	}
}
@media (max-width: 470px) and (max-height: 470px) {
	#board {
		height: 50vh;
	}
}
@media (max-width: 470px) and (max-height: 420px) {
	#board {
		height: 60vh;
	}
}
@media (max-width: 420px) and (max-height: 470px) {
	#playPage {
		gap: 2vw;
	}
}
@media (max-width: 400px) and (max-height: 470px) {
	#board {
		height: 50vh;
	}
}
@media (max-width: 400px) and (max-height: 400px) {
	#board {
		height: 60vh;
	}
}
@media (max-width: 395px) {
	#buttonsDiv {
		gap: 10vw;
	}
}
@media (max-width: 395px) and (min-height: 420px) {
	#playPage {
		flex-direction: column;
	}
	#buttonsDiv {
		flex-direction: row;
	}
}
@media (max-width: 395px) and (max-height: 468px) {
	#scoreCards {
		flex-direction: row;
	}
}
@media (max-width: 395px) and (max-height: 420px) {
	#buttonsDiv {
		gap: 10vh;
	}
	#scoreCards {
		flex-direction: column;
	}
}
@media (max-width: 375px) and (max-height: 400px) {
	#board {
		height: 50vh;
	}
}
@media (max-width: 375px) and (max-height: 350px) {
	#board {
		height: 65vh;
	}
}
@media (max-width: 360px) and (max-height: 570px) {
	#board {
		height: 80vw;
	}
}
@media (max-width: 360px) and (max-height: 470px) {
	#board {
		height: 70vw;
	}
}
@media (max-width: 360px) and (max-height: 420px) {
	#board {
		height: 45vh;
	}
}
@media (max-width: 360px) and (max-height: 370px) {
	#board {
		height: 55vh;
	}
}
@media (max-width: 340px) and (min-height: 800px) {
	#buttonsDiv {
		margin-top: 3vh;
	}
}
@media (max-width: 340px) and (max-height: 800px) {
	#buttonsDiv {
		margin-top: 0;
	}
}
@media (max-width: 340px) and (max-height: 420px) {
	#board {
		height: 50vh;
	}
	#playPage {
		flex-direction: column;
	}
	#buttonsDiv,
	#scoreCards {
		flex-direction: row;
	}
}
@media (max-width: 340px) and (max-height: 340px) {
	#playPage {
		flex-direction: row;
	}
	#buttonsDiv,
	#scoreCards {
		flex-direction: column;
	}
}
@media (max-width: 340px) and (max-height: 300px) {
	#board {
		height: 60vh;
	}
}
